.posture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-top: 0;
  
}

.posture-content {
  display: flex;
  flex-direction: row; /* Ensures horizontal alignment */
  gap: 20px;
  width: 90%;
  height: 80%;
  background: linear-gradient(to bottom right, #e3d4f1, #d3f4fc);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border: 2px solid #333;
  overflow: hidden;
  padding: 15px;
}


.posture-stimulation, .posture-prediction {
  flex: 1;
  padding: 10px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.posture-stimulation h3, .posture-prediction h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.animation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  padding: 10px;
  border-radius: 8px;
  height: 350px;
}

.fsr-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-content: center;
  margin: 15px 0;
}

.fsr-box {
  padding: 12px 18px;
  border: 2px solid #333;
  border-radius: 8px;
  background: #c5cffa;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  min-width: 100px;
}

.prediction-text {
  font-size: 20px;
  font-weight: bold;
  color: #a24de1;
  margin-top: 10px;
}
